@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap')
	;

* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	outline: none;
	border: none;
	text-decoration: none;
	transition: all .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
}

section {
	padding: 2rem 9%;
	margin-top: 80px;
}

.heading {
	text-align: center;
	padding: 2.5rem 0
}

.heading span {
	font-size: 3.5rem;
	background: rgba(255, 165, 0, .2);
	color: orange;
	border-radius: .5rem;
	padding: .2rem 1rem;
}

.heading span.space {
	background: none;
}

.btn {
	display: inline-block;
	margin: 1rem;
	background-color: orange;
	color: #fff;
	padding: .8rem 3rem;
	border: .2rem solid orange;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover {
	background: rgba(255, 165, 0, .2);
	color: orange;
}

.box {
	margin: 2%;
}

.tourDetail .row {
	display: block;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
}

.tourDetail .row .image {
	flex: 1 1 35rem;
}

.tourDetail .row .image img {
	width: 65%;
}

.tourDetail .row .image p {
	font-size: 1.55rem;
	padding: 1rem 0;
	text-align: start;
	margin: 2% 15%;
	padding-left: 2%;
}

.tourDetail .row #productInfo {
	flex: 1 1 50rem;
	padding: 2rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
	text-align: center;
}

.tourDetail .row #reviews {
	flex: 1 1 50rem;
	padding: 2rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
}

.tourDetail .row h2 {
	font-size: 2.8rem;
	margin-bottom: 15px;
	text-align: center;
}

.tourDetail .row h3 {
	font-size: 2rem;
}

.tourDetail .row p {
	font-size: 1.5rem;
}

.stars i {
	font-size: 1.7rem;
	color: orange;
}

.tourDetail .row #productInfo .price {
	font-size: 2rem;
	color: #333;
	padding-top: 1rem;
}

.tourDetail .row #productInfo .price span {
	color: #666;
	font-size: 1.5rem;
	text-decoration: line-through;
}

#commentForm {
	flex: 1 1 50rem;
	padding: 2rem;
	margin-top: 5%;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
}

#commentForm textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 15rem;
	margin: 1rem 0;
	padding: 1rem;
	font-size: 1.7rem;
	color: #333;
	background: #f7f7f7;
	text-transform: none;
	border: #333;
	border-width: 1px;
}

.star-rating form {
	display: none;
}

.star-rating input {
	display: none;
}

.star-rating {
	margin: 10px auto;
	display: table;
	width: 350px;
}

.star-rating label {
	padding: 10px;
	float: right;
	font-size: 44px;
	color: #eee;
}

.star-rating input:not(:checked) ~ label:hover, .star-rating input:not(:checked) 
	~ label:hover ~ label {
	color: #ffc107;
}

.star-rating input:checked ~ label {
	color: #ffc107;
}